# Environments
.env
.env.local
.env.*

# Virtual Environments
venv/
ENV/
env/
.venv/
bin/
include/
lib/
lib64/
share/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Project fallbacks
sensor_stream.jsonl

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
